.main-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #25ede3;
}

.main-li {
    float: left;
}



.main-li .main-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-li .main-a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}